* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.grid8Cols {
    display: grid;
    grid-template-columns: repeat(6, 75px);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 100px;
}
.todayDiv {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
    
    margin:  20px;
    padding: 20px;

}

.forecastDiv{
width: 100%;
justify-content: space-evenly;
margin-right: 30px;
}

.hourDiv {
    margin: 15px;
    
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chartCanvas {
    max-width: 500px;
    max-height: 300px;

}